.pay-card{
    @apply rounded-xl ring-2 ring-offset-2 cursor-pointer hover:scale-105 duration-300 shadow-2xl min-h-[130px] phone:min-h-[125px] bg-center;
    font-family: 'Rubik', sans-serif;
}

.btc {
    @apply ring-yellow-600;
    background-image: url('../assets/patterns/btc.svg'), linear-gradient(rgb(247, 164, 63), rgb(253, 224, 71));
}

.eth {
    @apply ring-slate-800;
    background-image: url('../assets/patterns/eth.svg'), linear-gradient(to left, rgb(30, 41, 59), rgb(100, 116, 139), rgb(75, 85, 99));
}

.ltc {
    @apply ring-blue-700;
    background-image: url('../assets/patterns/ltc.svg'), linear-gradient(to right, rgb(59, 130, 246), rgb(37, 99, 235));
}

.bnb {
    @apply ring-yellow-600;
    background-image: url('../assets/patterns/bnb.svg'), linear-gradient(rgb(223, 145, 49), rgb(241, 211, 56));
}

.paypal {
    @apply ring-blue-700;
    background-image: url('../assets/patterns/paypal.svg'), linear-gradient(to right, rgb(29, 86, 179), rgb(9, 62, 177));
}

.trx {
    @apply ring-red-700;
    background-image: url('../assets/patterns/trx.svg'), linear-gradient(to right, rgb(239, 68, 68), rgb(153, 27, 27));
}

.usdt {
    @apply ring-green-700;
    background-image: url('../assets/patterns/usdt.svg'), linear-gradient(to right, rgb(34, 197, 94), rgb(21, 128, 61));
}

.doge {
    @apply ring-yellow-600;
    background-image: url('../assets/patterns/doge.svg'), linear-gradient(rgb(190, 121, 36), rgb(189, 163, 37));
}

.mastercard {
    @apply ring-yellow-700;
    background-image: url('../assets/patterns/mastercard.svg'), linear-gradient(to right, rgb(255, 34, 34), rgb(247, 178, 32) );
}

.visa {
    @apply ring-sky-700;
    background-image: url('../assets/patterns/visa.svg'), linear-gradient(to right top, rgb(2, 132, 199), rgb(59, 130, 246), rgb(38, 157, 236));
}

.amex {
    @apply ring-blue-700;
    background-image: url('../assets/patterns/amex.svg'), linear-gradient(to right, rgb(59, 130, 246), rgb(37, 99, 235));
}

.card {
    @apply ring-lime-500;
    background-image: url('../assets/patterns/card.svg'), linear-gradient(to right, rgb(96, 184, 166), rgb(169, 201, 110));
}

.zelle {
    @apply ring-purple-800;
    background-image: url('../assets/patterns/zelle.svg'), linear-gradient(to right, rgb(133, 47, 204), rgb(100, 42, 187),rgb(126, 44, 194));
}

.dash {
    @apply ring-blue-700;
    background-image: url('../assets/patterns/dash.svg'), linear-gradient(to right, rgb(35, 91, 180), rgb(33, 95, 226));
}

.matic {
    @apply ring-purple-800;
    background-image: url('../assets/patterns/matic.svg'), linear-gradient(to right, rgb(170, 41, 221), rgb(159, 63, 214),rgb(152, 59, 228));
}

.solana {
    @apply ring-purple-600;
    background-image: url('../assets/patterns/solana.svg'), linear-gradient(to right, rgb(74, 222, 128), rgb(61, 146, 226), rgb(126, 34, 206));
}

.busd {
    @apply ring-yellow-600;
    background-image: url('../assets/patterns/busd.svg'), linear-gradient(rgb(223, 145, 49), rgb(241, 211, 56));
}

.ton {
    @apply ring-blue-700;
    background-image: url('../assets/patterns/ton.svg'), linear-gradient(to right, rgb(59, 130, 246), rgb(37, 99, 235));
}

.qvapay {
    @apply ring-purple-700;
    background-image: url('../assets/patterns/qvapay.svg'), linear-gradient(to right, rgb(182, 43, 43), rgb(117, 36, 192), rgb(70, 79, 211));
}

.cashapp {
    @apply ring-green-600;
    background-image: url('../assets/patterns/cashapp.svg'), linear-gradient(to right, rgb(41, 228, 109), rgb(31, 182, 86));
}

.zinli {
    @apply ring-purple-900;
    background-image: url('../assets/patterns/zinli.svg'), linear-gradient(to right, rgb(90, 75, 158), rgb(108, 66, 156), rgb(90, 75, 158));
}

.zec {
    @apply ring-yellow-600;
    background-image: url('../assets/patterns/zec.svg'), linear-gradient(rgb(247, 164, 63), rgb(209, 183, 51));
}

.hive {
    @apply ring-red-700;
    background-image: url('../assets/patterns/hive.svg'), linear-gradient(to right, rgb(227, 19, 55), rgb(172, 11, 37));
}

.bch {
    @apply ring-green-600;
    background-image: url('../assets/patterns/bch.svg'), linear-gradient(to right, rgb(10, 193, 142), rgb(8, 161, 118));
}