.user-name{
    background-color: black;
    background-image: linear-gradient(to right, rgb(236, 72, 153), rgb(239, 68, 68), rgb(234, 179, 8));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}